@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'SutonnyMJ_Normal';
  src: url('/fonts/SutonnyMJ-Regular.ttf');
}


@font-face{
  font-family: 'TiroBangla_Regular';
  src: url('/fonts/TiroBangla-Regular.ttf');
}








